<div class="container-fluid col-md-12 col-12  mx-auto about-style" id="aboutid">
      <div class="row about-style">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading">About Us</h1>
          <p class="text-center sub-heading">grow your business with us</p>
          <div class="row">

            {{!-- left side --}}
        <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
          <h1>WE WILL HELP YOU TO</h1>
          <h2>GROW YOUR BUSINESS</h2>
          <p>We are the team of <span class="bold-style">Professional Developer </span></p>
          <button class="btn-style btn-primary">Read More</button>


        </div>
        <div class="col-md-6 col-12 hero-text order-md-1 order-0 d-flex justify-content-center align-items-start flex-column">
          {{>aboutslide}}

        </div>
          </div>
        </div>
      </div>
    </div>