<div class="container-fluid mt-5 about-style footerbg" id="footerid">
  <div class="row about-style">
      
      <div class="container-fluid col-md-10 col-12  mx-auto text-center main-heading">
          <h1>Our Map Location at Addiss Abeba , Ethiopia</h1>
          <div class="row">
              
              
              <figure class="col-md-10">

              {{>headerslide}}
              

          </figure><br>
          

          </div>
          <P><strong class="hd-1">Copy Right © 2021 HelloCash , GHD : Good hearts Donation , Contuct Us : Phone : +251-943545590 , Email : eyasu.thomas@gmail.com</strong></P><br>
        </div>
      </div>
  </div>
</div>