<!-- Slider -->
	<div id="slider" class="headerslide" style="margin-top: 100px; width: 100%">
		<div class="slides">
			<div class="slider">
				
				<div class='legend'></div>
				<div class='content'>
					<div class='content-txt'>
						<h1>Header one</h1>
						<h2>Header two</h2>
					</div>
				</div>
				<div class='image'>
					<img src='images/sanitizer.jpg'>
				</div>
			</div>
			<div class="slider">
				
				<div class='legend'></div>
				<div class='content'>
					<div class='content-txt'>
						<h1>Header one</h1>
						<h2>Header two</h2>
					</div>
				</div>
				<div class='image'>";
					<img src='images/sanitizer.jpg'>
				</div>
			</div>
			<div class="slider">
			
			<div class='legend'></div>
				<div class='content'>
					<div class='content-txt'>
						<h1>Header one</h1>
						<h2>Header two</h2>
					</div>
				</div>
				<div class='image'>";
					<img src='images/sanitizer.jpg'>
				</div>
			</div>
			<div class="slider">
				
				<div class='legend'></div>
				<div class='content'>
					<div class='content-txt'>
						<h1>Header one</h1>
						<h2>Header two</h2>
					</div>
				</div>
				<div class='image'>
					<img src='images/sanitizer.jpg'>
				</div>
				
			</div>
		</div>
		<div class="switch">
			<ul>
				<li>
					<div class="on"></div>
				</li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div><br>