<div class="container-fluid col-md-12 col-12  mx-auto about-style" id="aboutid">
      <div class="row about-style">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">

            {{!-- left side --}}
        <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
          <h1>WEL-COME TO GOOD hearts DONATION</h1>
          <h2>We are so happy for your donation ! </h2>
          <p>We are the team of <span class="bold-style">Professional Developer </span></p>
          <button class="btn-style btn-primary">Read More</button>


        </div>
        <div class="col-md-6 col-12 hero-text order-md-1 order-0 d-flex justify-content-center align-items-start flex-column">
          {{>headerslide}}

        </div>
          </div>
        </div>
      </div>
    </div>