<div class="container-fluid col-md-12 col-12  mx-auto about-style" id="aboutid">
      <div class="row about-style">
        <div class="col-md-12 col-12 mx-auto">
          <h1 class="text-center main-heading">Our Local And International News</h1>
          <div class="row">

            {{!-- left side --}}
        <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
          <h4>Local News</h4>
              <p>There is interested local news, those news are real news, you can check those new in the ethiopian mass media organizations</p>
              
            <figure class="col-md-10">

              {{>localslide}}
              

          </figure>


        </div>
        <div class="col-md-6 col-12 hero-text order-md-1 order-1"><h4>International News</h4>
              <p>There is interested International news, those news are real news, you can check those new in the ethiopian mass media organizations</p>
              
            <figure class="col-md-10">

              {{>internationalslide}}
              

          </figure>
          
          
          </div>
          </div>
        </div>
      </div>
    </div>