@import url("https://fonts.googleapis.com/css2?family=Project+One&display=swap");
* {
    font-family: "Poiret One", cursive;
    font-weight: bold;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: #fff;
}

li,
p,
a {
    font-size: 1.6rem;
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 150vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.donationformcss {
    background: white;
}

.rivan {
    width: "20px";
    height: "50px";
}

.popup .content {
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: white;
    width: 600px;
    height: 450px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 30px;
    height: 30px;
    background: rgb(35, 23, 199);
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 3rem;
}

.row {
    margin: 0;
}

.navbar-style {
    background-color: transparent;
    box-shadow: 2px 4px 13px 1px rgba(8, 8, 8, 0.04);
    position: fixed;
    top: 0;
    background: transparent;
    z-index: 1;
}

#logo {
    display: initial;
    font-weight: 600;
    font-size: 2.5rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #fd5c63;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: #525252;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    padding-left: 1rem;
    font-size: 1.9rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fd5c63;
}


/* our hero section */

.hero-text h1 {
    font-size: 3.0rem;
    line-height: 1.5;
    text-shadow: 5px 4px 11px rgba(0, 0, 0, 0.26);
    letter-spacing: 1px;
    color: #2f2f2f;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hero-text h1:nth-child(2) {
    font-weight: bold;
    color: #5222d0;
}

.hero-text p,
.our-services p,
label {
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    color: #777676;
    text-transform: capitalize;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    align-items: center;
}

.hero-text p span {
    font-weight: bold;
    color: #000;
}

.btn-style {
    padding: 12px 25px;
    border: none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid #fff;
    background: #ec615b;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.donationbg {
    background: #5222d0;
    border-radius: 2rem;
    position: absolute;
    z-index: -1;
}

.donationform {
    background: transparent;
    margin: 0px;
}

.donationform input {
    background: #fff;
    padding-right: 30px;
}

input[type="radio"] {
    display: block;
}

.donationlbl {
    position: relative;
    color: #01cc65;
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    border: 2px solid #01cc65;
    border-radius: 5px;
    padding-right: 10px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

figure,
img,
.headerslide {
    z-index: -1;
}

.donationlbl::before {
    content: "";
    height: 15px;
    width: 15px;
    border: 3px solid #01cc65;
    border-radius: 50%;
    margin-right: 20px;
}

input[type="radio"]:checked+.donationlbl {
    background-color: #01cc65;
    color: white;
}

input[type="radio"]:checked+.donationlbl::before {
    height: 10px;
    width: 10px;
    border: 10px solid white;
    background-color: #01cc65;
}

image {
    position: absolute;
    z-index: -1;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

form.user .custom-checkbox.small label {
    line-height: 1.5rem;
    position: relative;
}

form.user .form-control-user {
    font-size: 1.5rem;
    border-radius: 10rem;
    padding: 1.5rem 2rem;
}

form.user .btn-user {
    font-size: .8rem;
    border-radius: 10rem;
    padding: .75rem 1rem
}

.form-group {
    margin-bottom: 1rem
}

.form-inline .form-group {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 0
}

.about-style {
    margin-top: 80px;
}

@media (max-width:360px) {
    .hero-text h1 {
        font-size: 1.5rem;
        line-height: 1.5;
        text-shadow: 5px 4px 11px rgba(0, 0, 0, 0.26);
        letter-spacing: 1px;
        color: #2f2f2f;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    #logo {
        font-size: 1.2rem;
    }
    .popup .overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 150vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        z-index: 1;
        display: none;
    }
    .popup .content {
        position: absolute;
        top: 610%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        background: white;
        width: 300px;
        height: 630px;
        z-index: 2;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
        font-family: "Open Sans", sans-serif;
    }
    .popup .close-btn {
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 10px;
        width: 20px;
        height: 40px;
        background: rgb(35, 23, 199);
        color: #fff;
        font-size: 15px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
    }
    .popup.active .overlay {
        display: block;
    }
    .popup.active .content {
        transition: all 300ms ease-in-out;
        transform: translate(-50%, -50%) scale(1);
    }
}